{% extends 'base.html.twig' %} {% block title %}BlogSymfony!{% endblock %} {% block body %}
<section class='row'>
{% for article in articles %}
    <article class='col-4 mb-4 d-flex align-items-stretch'>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p><small>posté dans la catégorie : {{article.category.title}}</small></p>
                <small>le {{article.createdAt | date("d-m-Y")}} à {{article.createdAt | date("H:i")}}</small>
                <div>
                    <img src="{{article.image}}" alt="une image">
                </div>
                <p>{{article.content | raw}}</p>
            </div>
            <div class="row justify-content-between card-footer text-muted">
                <a href="{{path('blog_show', {'id': article.id})}}">en savoir plus</a>  
                <a href="{{path('blog_edit', {'id': article.id})}}">éditer</a>
                <a href="{{path('blog_delete', {'id': article.id})}}">supprimer</a>
            </div>
        </div>
    </article>
{% endfor %}
</section>
{% endblock %}