{% extends 'base.html.twig' %} 
{% block title %}{{title}}{% endblock %} 
{% block body %}
<article class='col-4 m-auto'>
    <h2>{{article.title}}</h2>
    <small>écrit le {{article.createdAt | date("d-m-Y")}} à {{article.createdAt | date("H:i")}}</small>
    <div>
        <img src="{{article.image}}" alt="une image">
    </div>
    <p>{{article.content | raw}}</p>
</article>
{% endblock %}