{% extends 'base.html.twig' %} {% block title %}{{title}}{% endblock %} {% block body %}
<section class='article-content border-bottom d-flex mb-2'>
    <div class="leftpart">
        <h2>{{article.title}}</h2>
        <img src="{{article.image}}" alt="une image">
    </div>
    <div class="rightpart mt-5 ml-3 border-top ">
        <p><small>posté dans la catégorie : {{article.category.title}}</small></p>
        <p><small>le {{article.createdAt | date("d-m-Y")}} à {{article.createdAt | date("H:i")}}</small></p>
        <p class="text-justify">{{article.content | raw}}</p>
    </div>
</section>

<section class='commentForm'>
    <h3 class='text-center'>Poster un commentaire</h3>
    {{ form_start(formComment)}}
    <div class="form-group">
        {{form_row(formComment.author, { 'label' : 'Auteur', 'attr' : {'class' : 'form-control'} })}}
    </div>
    <div class="form-group">
        {{form_row(formComment.content, { 'label' : 'Commentaire', 'attr' : {'class' : 'form-control'} })}}
    </div>
    <div class="form-group">
        {{form_row(formComment.Sauvegarder, { 'label' : 'Poster', 'attr' : {'class' : 'btn btn-success'} })}}
    </div>
    {{ form_end(formComment)}}
</section>

<section class='comments'>
    <h3 class='text-center'>Commentaires</h3>
    {% for comment in article.comments %}
    <div class='comment border-top'>
        <div class='row flex-column'>
            <div class='col-12 col-sm-10 offset-sm-1'>
                <p><small>écrit par : {{comment.author}} le {{comment.createdAt | date("d-m-Y")}} à
                        {{comment.createdAt | date("H:i")}}</small></p>
            </div>
            <div class='col-12 col-sm-10 offset-sm-1'>
                <p class="text-justify">{{comment.content | raw}}</p>
            </div>
            <div class="row justify-content-around">
                <a class="text-center" href="{{path('blog_edit_comment', {'idArticle': article.id , 'id': comment.id})}}">Modifier</a>
                <a class="text-center" href="{{path('blog_delete_comment', {'id': comment.id})}}">Supprimer</a>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}